<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>業務員資料</title>

    <!-- Fontfaces CSS-->
    <link href="{% static 'css/font-face.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/font-awesome-4.7/css/font-awesome.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/font-awesome-5/css/fontawesome-all.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="{% static 'vendor/bootstrap-4.1/bootstrap.min.css' %}" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="{% static 'vendor/animsition/animsition.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/wow/animate.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/slick/slick.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/select2/select2.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.css' %}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="{% static 'css/theme.css' %}" rel="stylesheet" media="all">

</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER DESKTOP-->
        <header class="header-desktop3 d-none d-lg-block">
            <div class="section__content section__content--p35">
                <div class="header3-wrap">
                    <div class="header__logo">
                        <a href="#">
                            <img src="{% static 'images/icon/iconla.png' %}" alt="CoolAdmin" />
                        </a>
                    </div>
                    <div class="header__navbar">
                        <ul class="list-unstyled">
                            <li class="has-sub">
                                <a href="#">
                                    <i class="fas fa-tachometer-alt"></i>分店
                                    <span class="bot-line"></span>
                                </a>
                                <ul class="header3-sub-list list-unstyled">
                                    <li>
                                        <a href="#">中壢中原店</a>
                                    </li>
                                    <li>
                                        <a href="#">中壢中原店</a>
                                    </li>
                                    <li>
                                        <a href="#">中壢中原店</a>
                                    </li>
                                    <li>
                                        <a href="#">中壢中原店</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="{% url 'salesindex' %}">
                                    <i class="fas fa-shopping-basket"></i>
                                    <span class="bot-line"></span>業務員</a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fas fa-trophy"></i>
                                    <span class="bot-line"></span>按摩椅</a>
                            </li>
                            <li class="has-sub">
                                <a href="#">
                                    <i class="fas fa-copy"></i>
                                    <span class="bot-line"></span>客戶</a>
                                <ul class="header3-sub-list list-unstyled">
                                    <li>
                                        <a href="customer.html">中壢中原店</a>
                                    </li>
                                    <li>
                                        <a href="customer1.html">中壢中北店</a>
                                    </li>
                                    <li>
                                        <a href="customer2.html">中壢中興店</a>
                                    </li>
                                    <li>
                                        <a href="customer3.html">中壢中大店</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="header__tool">
                        <div class="account-wrap">
                            <div class="account-item account-item--style2 clearfix js-item-menu">
                                <div class="image">
                                    <img src="{% static 'images/icon/avatar-01.jpg' %}" alt="John Doe" />
                                </div>
                                <div class="content">
                                    <a class="js-acc-btn" href="#">劉建昱</a>
                                </div>
                                <div class="account-dropdown js-dropdown">
                                    <div class="info clearfix">
                                        <div class="image">
                                            <a href="#">
                                                <img src="{% static 'images/icon/avatar-01.jpg' %}" alt="John Doe" />
                                            </a>
                                        </div>
                                        <div class="content">
                                            <h5 class="name">
                                                <a href="#">劉建昱</a>
                                            </h5>
                                            <span class="email">jianyu@example.com</span>
                                        </div>
                                    </div>
                                    <div class="account-dropdown__body">
                                        <div class="account-dropdown__item">
                                            <a href="#">
                                                <i class="zmdi zmdi-account"></i>帳戶中心</a>
                                        </div>
                                        <div class="account-dropdown__item">
                                            <a href="#">
                                                <i class="zmdi zmdi-settings"></i>其他設定</a>
                                        </div>
                                    </div>
                                    <div class="account-dropdown__footer">
                                        <a href="#">
                                            <i class="zmdi zmdi-power"></i>登出</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- END HEADER DESKTOP-->

        <!-- HEADER MOBILE-->
        <header class="header-mobile header-mobile-2 d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="index.html">
                            <img src="{% static 'images/icon/logo-white.png' %}" alt="CoolAdmin" />
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-tachometer-alt"></i>分店</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="index.html">中壢中原店</a>
                                </li>
                                <li>
                                    <a href="index2.html">中壢中原店</a>
                                </li>
                                <li>
                                    <a href="index3.html">中壢中原店</a>
                                </li>
                                <li>
                                    <a href="index4.html">中壢中原店</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fas fa-shopping-basket"></i>
                                <span class="bot-line"></span>業務員</a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fas fa-trophy"></i>
                                <span class="bot-line"></span>按摩椅</a>
                        </li>
                        <li class="has-sub">
                            <a href="#">
                                <i class="fas fa-copy"></i>
                                <span class="bot-line"></span>客戶</a>
                            <ul class="header3-sub-list list-unstyled">
                                <li>
                                    <a href="customer.html">中壢中原店</a>
                                </li>
                                <li>
                                    <a href="customer1.html">中壢中北店</a>
                                </li>
                                <li>
                                    <a href="customer2.html">中壢中興店</a>
                                </li>
                                <li>
                                    <a href="customer3.html">中壢中大店</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <div class="sub-header-mobile-2 d-block d-lg-none">
            <div class="header__tool">
                <div class="account-wrap">
                    <div class="account-item account-item--style2 clearfix js-item-menu">
                        <div class="image">
                            <img src="{% static 'images/icon/avatar-01.jpg' %}" alt="John Doe" />
                        </div>
                        <div class="content">
                            <a class="js-acc-btn" href="#">劉建昱</a>
                        </div>
                        <div class="account-dropdown js-dropdown">
                            <div class="info clearfix">
                                <div class="image">
                                    <a href="#">
                                        <img src="{% static 'images/icon/avatar-01.jpg' %}" alt="John Doe" />
                                    </a>
                                </div>
                                <div class="content">
                                    <h5 class="name">
                                        <a href="#">劉建昱</a>
                                    </h5>
                                    <span class="email">jianyu@example.com</span>
                                </div>
                            </div>
                            <div class="account-dropdown__body">
                                <div class="account-dropdown__item">
                                    <a href="#">
                                        <i class="zmdi zmdi-account"></i>帳戶中心</a>
                                </div>
                                <div class="account-dropdown__item">
                                    <a href="#">
                                        <i class="zmdi zmdi-settings"></i>其他設定</a>
                                </div>
                            </div>
                            <div class="account-dropdown__footer">
                                <a href="#">
                                    <i class="zmdi zmdi-power"></i>登出</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END HEADER MOBILE -->

        <!-- PAGE CONTENT-->
        <div class="page-content--bgf7">
            <!-- BREADCRUMB-->
            <section class="au-breadcrumb2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="au-breadcrumb-content">

                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END BREADCRUMB-->

            <!-- WELCOME-->
            <section class="welcome p-t-10">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="title-4">歡迎
                                <span>劉老闆！</span>
                            </h1>
                            <hr class="line-seprate">
                        </div>
                    </div>
                </div>
            </section>
            <!-- END WELCOME-->

            <!-- 概況-->
            <section class="statistic statistic2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <form action="/sales" method="GET" id="salesForm">
                                <div class="au-breadcrumb-content">
                                    <select id="who" class="who" onchange="redirectToSales()">
                                        <option>----選擇業務員----</option>
                                        {% for salesperson in salespersons %}
                                            <option value="{{ salesperson.SName }}">{{ salesperson.SName }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </form>
                            <script>
                                function redirectToSales() {
                                    var selectElement = document.getElementById("who");
                                    var selectedOption = selectElement.options[selectElement.selectedIndex];
                                    var selectedSalesperson = selectedOption.text;
                                    window.location.href = "./sales.html?salesperson=" + selectedSalesperson;
                                }
                            </script>
                                                                      
                        </div>
                    </div>
                    <br><br>
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="title-5 m-b-35">業務員概況分析</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-4">
                            <div class="statistic__item statistic__item--blue">
                                <h2 class="number">請選擇業務員</h2>
                                <span class="desc">客戶回報率</span>
                                <div class="icon">
                                    <i class="zmdi zmdi-account-o"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-4">
                            <div class="statistic__item statistic__item--orange">
                                <h2 class="number">請選擇業務員</h2>
                                <span class="desc">最多賣出</span>
                                <div class="icon">
                                    <i class="zmdi zmdi-shopping-cart"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-4">
                            <div class="statistic__item statistic__item--green">
                                <h2 class="number">請選擇業務員</h2>
                                <span class="desc">業績達成率</span>
                                <div class="icon">
                                    <i class="zmdi zmdi-money"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END 客戶分析簡單版資料-->

            <!-- STATISTIC CHART-->
            <section class="statistic-chart">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="title-5 m-b-35">圖表分析</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="title-5 m-b-25">請選擇業務員以查看細部內容</h3>
                        </div>
                    </div>
                    {% comment %} <div class="row">
                        <div class="col-lg-6">
                            <div class="au-card m-b-30" style="height: 400px;">
                                <div class="au-card-inner">
                                    <h3 class="title-2 m-b-40">出缺勤比率</h3>
                                    <canvas id="doughutChart" style="height: 150px;"></canvas>
                                </div>
                               
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="au-card m-b-30" style="height: 400px;">
                                <div class="au-card-inner">
                                    <h3 class="title-2 m-b-40">銷售品項比率</h3>
                                    <canvas id="pieChart" style="height: 275px;"></canvas>
                                </div>
                            </div>
                        </div>
                    </div> {% endcomment %}
                </div>
            </section>
            <!-- END STATISTIC CHART-->
            

            <!-- COPYRIGHT-->
            <section class="p-t-60 p-b-20">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="copyright">
                                <p>Copyright © 2023 劉建昱資訊管理株式會社</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END COPYRIGHT-->
        </div>

    </div>

    <!-- Jquery JS-->
    <script src="{% static 'vendor/jquery-3.2.1.min.js' %}"></script>
    <!-- Bootstrap JS-->
    <script src="{% static 'vendor/bootstrap-4.1/popper.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-4.1/bootstrap.min.js' %}"></script>
    <!-- Vendor JS       -->
    <script src="{% static 'vendor/slick/slick.min.js' %}">
    </script>
    <script src="{% static 'vendor/wow/wow.min.js' %}"></script>
    <script src="{% static 'vendor/animsition/animsition.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-progressbar/bootstrap-progressbar.min.js' %}">
    </script>
    <script src="{% static 'vendor/counter-up/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'vendor/counter-up/jquery.counterup.min.js' %}">
    </script>
    <script src="{% static 'vendor/circle-progress/circle-progress.min.js' %}"></script>
    <script src="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
    <script src="{% static 'vendor/chartjs/Chart.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/select2/select2.min.js' %}">
    </script>
    <script>
        // 获取下拉菜单元素
        var dropdownMenu = document.getElementById("dropdownMenu");

        // 获取下拉菜单项的集合
        var dropdownItems = dropdownMenu.getElementsByClassName("dropdown-item");

        // 遍历下拉菜单项，为每个菜单项添加点击事件监听器
        for (var i = 0; i < dropdownItems.length; i++) {
            dropdownItems[i].addEventListener("click", function() {
                // 获取点击的菜单项的文本内容
                var selectedValue = this.innerText;

                // 将选中的值显示在按钮上
                var dropdownButton = document.getElementById("dropdownMenuButton");
                dropdownButton.innerText = selectedValue;
            });
        }

    </script>
    <!-- Main JS-->
    <script src="{% static 'js/main.js' %}"></script>

</body>

</html>
<!-- end document-->
